# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/
datasets/
# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db